<header class="home container row">
  <div class="col_12">
    <h1>
      <img src="img/logo_150.png">
    </h1>
  </div>
</header>

<div class="row">
  <h2 class="col_12">Peace of mind when you are traveling.</h2>

  <p class="col_12">Protect yourself with trusted physicians around the world. Ensure access to board certified and licensed medical professionals with a simple app on your cell phone.</p>
</div>

<nav role="navigation col_12">
  <ul>
    <li class="col_3"><a href="/physicians/search">Find a physician</a></li>
    <li class="col_3"><a href="/about">About this service</a></li>
  </ul>
</nav>

