<h2>Peace of mind when you are traveling.</h2>

<p>Protect yourself with trusted physicians around the world. Ensure access to board certified and licensed medical professionals with a simple app on your cell phone.</p>

<nav role="navigation">
  <ul>
    <li><a href="/physicians/search">Find a physician</a></li>
    <li><a href="/about">About this service</a></li>
  </ul>
</nav>


