body {
  background-color: #efeac9;
}
form.search,
.results {
  background-color: #F9FDE3;
  border: 1px solid #BEBAA0;
  padding: 0 1em 1em 1em;
}
form.search h3 {
  border-bottom: 1px solid #BEBAA0;
}
.results {
}
.home h1 img {
  display: block;
  margin: 0 auto;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1em;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.physician {
  border-bottom: 1px solid #999;
  margin: 1em 0;
  padding-bottom: 0.5em;
}
.physician span {
  display: block;
}
.physician .specialties ul,
.physician .degrees ul {
  margin: 0;
}
.physician .specialties li,
.physician .degrees li {
  font-size: 0.8em;
  line-height: 1.5;
  list-style: disc;
  list-style-position: inside;
  margin: 0 0 0 1em;
}
.physician .name {
  font-weight: bold;
}
.physician .volunteer {
  color: #999;
  font-weight: normal;
  display: inline;
}

.search input {
  display: block;
  margin: 0.25em 0;
}
.search input.checkbox {
  display: inline;
}
.search input.number {
  width: 4em;
}
.search label.number {
  float: left;
  margin-right: 0.5em;
}

.label, label {
  font-weight: normal;
  font-size: 1em;
}
.specialty.label {
  font-size: 0.8em;
}

#geolocate_link {
  display: block;
}

p + p, p + ul {
  margin-top: 0;
}



/* 
  Styling to optimize LCD of feature phones 
  TODO: fixes for large screens that don't support media queries (IE)
*/

.container {
  padding-left: 0;
  padding-right: 0;
}
div.results {
  padding: 0;
}
.home h1 img {
  width: 75px;
  height: 84px;
}

@media screen and (min-width: 1px) {
  .home h1 img {
    width: 150px;
    height: 167px;
  }
}

@media screen and (min-width: 767px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }

}

@media screen and (max-width: 767px) {
  div.results {
    padding-left: 20px;
    padding-right: 20px;
  }
}