body {
  
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.physician {
  border-bottom: 1px solid #999;
  margin: 1em 0;
  padding-bottom: 0.5em;
}
.physician span {
  display: block;
}
.physician .specialties ul,
.physician .degrees ul {
  margin: 0;
}
.physician .specialties li,
.physician .degrees li {
  font-size: 0.8em;
  line-height: 1.5;
  list-style: disc;
  list-style-position: inside;
  margin: 0 0 0 1em;
}
.physician .name {
  font-weight: bold;
}
.physician .volunteer {
  color: #999;
  font-weight: normal;
  display: inline;
}

.search input {
  display: block;
  margin: 0.25em 0;
}
.search input.checkbox {
  display: inline;
}

.label, label {
  font-weight: normal;
  font-size: 1em;
}
.specialty.label {
  font-size: 0.8em;
}