<div class="row col_12">
  <h4>Physicians</h4>
  <p>Found <%= @physicians.count %> results for your criteria</p>
  <ul class="results">
    <% @physicians.each do | physician | %>
      <%= partial :'physicians/_info', :physician => physician %>
    <% end %>
  </ul>
</div>