<div class="row col_12">
  <h4>Found <%= @physicians.count %> results for your criteria</h4>
  <ul class="results">
    <% @physicians.each do | physician | %>
      <%= partial :'physicians/_info', :physician => physician %>
    <% end %>
  </ul>
</div>