<h2>Find a physician</h2>
<form action="/physicians/search" method="GET" class="search">

  <fieldset>
    <input type="text" name="location" placeholder="My Location">
  </fieldset>

  <fieldset>
    <input type="text" name="physician[first_name]" placeholder="First Name">
    <input type="text" name="physician[last_name]" placeholder="Last Name">

    <label class="checkbox" for="">Can Volunteer</label>
    <input class="checkbox" type="checkbox" name="physician[can_volunteer]">
  </fieldset>

  <input type="submit" value="Search">
</form>

<% if @physicians %>
  <h2>Found <%= @physicians.count %> results</h2>
  
  <% @physicians.each do | physician | %>
    <%= partial :'physicians/_info', :physician => physician %>
  <% end %>
  
<% end %>
