<h2>Find a physician</h2>

<form action="/physicians" method="GET" class="search">

  <fieldset>
    <h3>Your Location</h3>
    <label for="manual_location">Address or ZIP Code</label>
    <input type="text" name="location" id="manual_location" placeholder="My Location">
    or <a id="geolocate_link" href="#geolocate">Geolocate Me</a>
  </fieldset>

  <fieldset>
    <h3>Filter by Physician Info</h3>

    <!-- <label for="physician_first_name">First Name</label>
    <input type="text" name="physician[first_name]" placeholder="First Name" id="physician_first_name"> -->

    <!-- <label for="physician_last_name">Last Name</label>
    <input type="text" name="physician[last_name]" placeholder="Last Name" id="physician_last_name"> -->

    <label for="physician_hourly_fee">Max. Hourly Fee (USD)</label>
    <input type="number" name="physician[hourly_fee]" placeholder="50" id="physician_hourly_fee">

    <input class="checkbox" type="checkbox" name="physician[can_volunteer]" id="physician_can_volunteer">
    <label class="checkbox" for="physician_can_volunteer">Can Volunteer</label>

    <h4 class="label">Specialties</h4>
    <% Physician::SPECIALTIES.each do | specialty | %>
      <input class="specialty checkbox" type="checkbox" name="physician[specialties][]" value="<%= specialty %>">
      <label class="specialty label"><%= specialty %></label><br>
    <% end %>

  </fieldset>

  <input type="submit" value="Search">
</form>

