<h2>Find a physician</h2>

<form action="/physicians/search" method="GET" class="search">

  <fieldset>
    <input type="text" name="location" placeholder="My Location">
  </fieldset>

  <fieldset>
    <input type="text" name="physician[first_name]" placeholder="First Name">
    <input type="text" name="physician[last_name]" placeholder="Last Name">

    <label class="checkbox" for="physician_can_volunteer">Can Volunteer</label>
    <input class="checkbox" type="checkbox" name="physician[can_volunteer]" id="physician_can_volunteer">
  </fieldset>

  <input type="submit" value="Search">
</form>

